/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */

.App {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}   

.cards {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 40px;

}

.cards img {
    width: 160px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.cards :hover {
    transform: scale(1.02);
}

.select-container {
    display: flex;
    margin: 10px 40px;  
}

.pop :hover {
    cursor: pointer;
    transform: scale(1.02);
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-container {
    margin: 20px;
}

.dtp {
    padding: 20px;
}

.navbarr {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}